aiofiles
arxiv
beautifulsoup4
bs4
chromadb
datasets
duckduckgo-search
faiss-cpu
fastapi
flask
google-generativeai
google-search-results
httpx
ipykernel
jinja2
langchain
langchain-community
langchain-tools
langchain-core
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-mistralai
langchain-nomic
langchain-openai
langchain-pinecone
langchain-text-splitters
langchainhub
langgraph
langserve
mysql-connector-python
playwright
pydantic
pymupdf
pypdf
python-dotenv
python-multipart
pytube
requests
rich
sentence_transformers
streamlit
tavily-python
tiktoken
typing-extensions
unstructured
uvicorn
wikipedia
youtube-transcript-api
youtube_search
python-docx